@import "tailwindcss";

:root {
  --mint-green: #A8D5BA;
  --beige: #F6EAD4;
  --soft-sand: #E0D6C3;
  --deep-green: #47624F;
  
  --background: #ffffff;
  --foreground: #171717;
}

/* Theme variables */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-playfair-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif;
}
